* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #dcdcdc;
}

#img-main img{
  width: 100%;
  height: 100%;
}

.text-font-family {
  font-family: 微軟正黑體, sans-serif;
}

.boards-introduction img {
  width: 360px;
  height: 200px;
}

#skateboard:hover img,#longboard:hover img,#cuiserboard:hover img {
  opacity: 0.3;
}

#skateboard:hover .middle,#longboard:hover .middle,#cuiserboard:hover .middle {
  opacity: 1;
}

.text {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
